[project]
	description = prawf... test...
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/carlmorris
[access "refs/for/refs/*"]
	read = group user/carlmorris
	push = group user/carlmorris
	label-Code-Review = -2..+2 group user/carlmorris
	label-Verified = -1..+1 group user/carlmorris
	rebase = group user/carlmorris
	removeReviewer = group user/carlmorris
	submit = group user/carlmorris
[access "refs/heads/*"]
	read = group user/carlmorris
	create = group user/carlmorris
	push = +force group user/carlmorris
	pushMerge = group user/carlmorris
[access "refs/tags/*"]
	push = +force group user/carlmorris
	pushTag = group user/carlmorris
	pushSignedTag = group user/carlmorris
